@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Istok+Web:400,700);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*!
 *
.||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||.

	.                                      '||            .
  .||.  .... ... ... ...    ....  ... ...   ||   ....   .||.    ....
   ||    '|.  |   ||'  || .|...||  ||'  ||  ||  '' .||   ||   .|...||
   ||     '|.|    ||    | ||       ||    |  ||  .|' ||   ||   ||
   '|.'    '|     ||...'   '|...'  ||...'  .||. '|..'|'  '|.'  '|...'
		.. |      ||               ||
		 ''      ''''             ''''      A Typographic Starter Kit

  URL ........... http://typeplate.com
  VERSION ....... 1.1.2
  Github ........ https://github.com/typeplate/typeplate.github.io
  AUTHORS ....... Dennis Gaebel (@gryghostvisuals) & Zachary Kain (@zakkain)
  LICENSE ....... Creative Commmons Attribution 3.0
  LICENSE URL ... http://creativecommons.org/licenses/by/3.0

 .||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||.
 *
 */
@font-face {
  font-family: "Ampersand";
  src: local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua");
  unicode-range: U+0026;
}

@font-face {
  font-family: "Ampersand";
  src: local("Georgia");
  unicode-range: U+270C;
}

/* line 392, ../sass/typeplate/_typeplate.scss */
body {
  word-wrap: break-word;
}

/* line 396, ../sass/typeplate/_typeplate.scss */
pre code {
  word-wrap: normal;
}

/**
 * Dropcap Sass @include
 * Use the following Sass @include with any selector you feel necessary.
 *
	@include dropcap($dropcap-float-position, $dropcap-font-size, $dropcap-font-family, $dropcap-txt-indent, $dropcap-margin, $dropcap-padding, $dropcap-color, $dropcap-line-height, $dropcap-bg);
 *
 * Extend this object into your custom stylesheet. Let the variables do the work.
 *
 */
/* line 521, ../sass/typeplate/_typeplate.scss */
html {
  font: normal 112.5%/1.65 serif;
}

/* line 529, ../sass/typeplate/_typeplate.scss */
body {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  color: #444444;
}

/* line 540, ../sass/typeplate/_typeplate.scss */
small {
  font-size: 65%;
}

/* line 563, ../sass/typeplate/_typeplate.scss */
h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0;
}

/* line 578, ../sass/typeplate/_typeplate.scss */
.tera {
  font-size: 117px;
  font-size: 6.5rem;
  margin-bottom: 0.25385rem;
}

/* line 578, ../sass/typeplate/_typeplate.scss */
.giga {
  font-size: 90px;
  font-size: 5rem;
  margin-bottom: 0.33rem;
}

/* line 578, ../sass/typeplate/_typeplate.scss */
.mega {
  font-size: 72px;
  font-size: 4rem;
  margin-bottom: 0.4125rem;
}

/* line 578, ../sass/typeplate/_typeplate.scss */
.alpha, h1 {
  font-size: 60px;
  font-size: 3.33333rem;
  margin-bottom: 0.495rem;
}

/* line 578, ../sass/typeplate/_typeplate.scss */
.beta, h2 {
  font-size: 48px;
  font-size: 2.66667rem;
  margin-bottom: 0.61875rem;
}

/* line 578, ../sass/typeplate/_typeplate.scss */
.gamma, h3 {
  font-size: 36px;
  font-size: 2rem;
  margin-bottom: 0.825rem;
}

/* line 578, ../sass/typeplate/_typeplate.scss */
.delta, h4 {
  font-size: 24px;
  font-size: 1.33333rem;
  margin-bottom: 1.2375rem;
}

/* line 578, ../sass/typeplate/_typeplate.scss */
.epsilon, h5 {
  font-size: 21px;
  font-size: 1.16667rem;
  margin-bottom: 1.41429rem;
}

/* line 578, ../sass/typeplate/_typeplate.scss */
.zeta, h6 {
  font-size: 18px;
  font-size: 1rem;
  margin-bottom: 1.65rem;
}

/* line 618, ../sass/typeplate/_typeplate.scss */
p {
  margin: auto auto 1.5em;
}
/* line 623, ../sass/typeplate/_typeplate.scss */
p + p {
  text-indent: 1.5em;
  margin-top: -1.5em;
}

/* line 648, ../sass/typeplate/_typeplate.scss */
abbr,
acronym,
blockquote,
code,
dir,
kbd,
listing,
plaintext,
q,
samp,
tt,
var,
xmp {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -o-hyphens: none;
  hyphens: none;
}

/* line 656, ../sass/typeplate/_typeplate.scss */
pre code {
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
}

/* line 661, ../sass/typeplate/_typeplate.scss */
pre {
  white-space: pre;
}

/* line 665, ../sass/typeplate/_typeplate.scss */
code {
  white-space: pre;
  font-family: monospace;
}

/**
 * Abbreviations Markup
 *
	<abbr title="hyper text markup language">HMTL</abbr>
 *
 * Extend this object into your markup.
 *
 */
/* line 681, ../sass/typeplate/_typeplate.scss */
abbr {
  font-variant: small-caps;
  font-weight: 600;
  text-transform: lowercase;
  color: gray;
}
/* line 683, ../sass/typeplate/_typeplate.scss */
abbr[title]:hover {
  cursor: help;
}

/* line 697, ../sass/typeplate/_typeplate.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222222;
}

/* line 707, ../sass/typeplate/_typeplate.scss */
p + .drop-cap {
  text-indent: 0;
  margin-top: 0;
}

/* line 423, ../sass/typeplate/_typeplate.scss */
.drop-cap:first-letter {
  float: left;
  margin: inherit;
  padding: inherit;
  font-size: 4em;
  font-family: inherit;
  line-height: 1;
  text-indent: 0;
  background: transparent;
  color: inherit;
}

/**
 * Lining Definition Style Markup
 *
	<dl class="lining">
		<dt><b></b></dt>
		<dd></dd>
	</dl>
 *
 * Extend this object into your markup.
 *
 */
/* line 462, ../sass/typeplate/_typeplate.scss */
.lining dt,
.lining dd {
  display: inline;
  margin: 0;
}
/* line 469, ../sass/typeplate/_typeplate.scss */
.lining dt + dt:before,
.lining dd + dt:before {
  content: "\A";
  white-space: pre;
}
/* line 477, ../sass/typeplate/_typeplate.scss */
.lining dd + dd:before {
  content: ", ";
}
/* line 481, ../sass/typeplate/_typeplate.scss */
.lining dd:before {
  content: ": ";
  margin-left: -0.2rem;
}

/**
 * Dictionary Definition Style Markup
 *
	<dl class="dictionary-style">
		<dt><b></b></dt>
			<dd></dd>
	</dl>
 *
 * Extend this object into your markup.
 *
 */
/* line 489, ../sass/typeplate/_typeplate.scss */
.dictionary-style dt {
  display: inline;
  counter-reset: definitions;
}
/* line 493, ../sass/typeplate/_typeplate.scss */
.dictionary-style dt + dt:before {
  content: ", ";
  margin-left: -0.2rem;
}
/* line 499, ../sass/typeplate/_typeplate.scss */
.dictionary-style dd {
  display: block;
  counter-increment: definitions;
}
/* line 502, ../sass/typeplate/_typeplate.scss */
.dictionary-style dd:before {
  content: counter(definitions,decimal) ". ";
}

/**
 * Blockquote Markup
 *
		<figure>
			<blockquote cite="">
				<p></p>
			</blockquote>
			<figcaption>
				<cite>
					<small><a href=""></a></small>
				</cite>
			</figcaption>
		</figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Pull Quotes Markup
 *
	<aside class="pull-quote">
		<blockquote>
			<p></p>
		</blockquote>
	</aside>
 *
 * Extend this object into your custom stylesheet.
 *
 */
/* line 791, ../sass/typeplate/_typeplate.scss */
.pull-quote {
  position: relative;
  padding: 1em;
}
/* line 364, ../sass/typeplate/_typeplate.scss */
.pull-quote:before, .pull-quote:after {
  height: 1em;
  opacity: 0.5;
  position: absolute;
  font-size: 4em;
  color: #dc976e;
}
/* line 371, ../sass/typeplate/_typeplate.scss */
.pull-quote:before {
  content: '“';
  top: 0;
  left: 0;
}
/* line 376, ../sass/typeplate/_typeplate.scss */
.pull-quote:after {
  content: '”';
  bottom: 0;
  right: 0;
}

/**
 * Figures Markup
 *
	<figure>
		<figcaption>
			<strong>Fig. 4.2 | </strong>Type Anatomy, an excerpt from Mark Boulton's book<cite title="http://designingfortheweb.co.uk/book/part3/part3_chapter11.php">"Designing for the Web"</cite>
		</figcaption>
	</figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Footnote Markup : Replace 'X' with your unique number for each footnote
 *
	<article>
		<p><sup><a href="#fn-itemX" id="fn-returnX"></a></sup></p>
		<footer>
			<ol class="foot-notes">
				<li id="fn-itemX"><a href="#fn-returnX">↩</a></li>
			</ol>
		</footer>
	</article>
 *
 * Extend this object into your markup.
 *
 */
/* line 2, ../sass/_tables.scss */
.paginate_enabled_previous {
  background: url("../images/back_enabled.png") no-repeat top left;
}

/* line 3, ../sass/_tables.scss */
.paginate_enabled_previous:hover {
  background: url("../images/back_enabled_hover.png") no-repeat top left;
}

/* line 4, ../sass/_tables.scss */
.paginate_disabled_previous {
  background: url("../images/back_disabled.png") no-repeat top left;
}

/* line 6, ../sass/_tables.scss */
.paginate_enabled_next {
  background: url("../images/forward_enabled.png") no-repeat top right;
}

/* line 7, ../sass/_tables.scss */
.paginate_enabled_next:hover {
  background: url("../images/forward_enabled_hover.png") no-repeat top right;
}

/* line 8, ../sass/_tables.scss */
.paginate_disabled_next {
  background: url("../images/forward_disabled.png") no-repeat top right;
}

/* line 9, ../sass/_tables.scss */
.sorting {
  background: url("../images/sort_both.png") no-repeat center right;
}

/* line 10, ../sass/_tables.scss */
.sorting_asc {
  background: url("../images/sort_asc.png") no-repeat center right;
}

/* line 11, ../sass/_tables.scss */
.sorting_desc {
  background: url("../images/sort_desc.png") no-repeat center right;
}

/* line 13, ../sass/_tables.scss */
.sorting_asc_disabled {
  background: url("../images/sort_asc_disabled.png") no-repeat center right;
}

/* line 14, ../sass/_tables.scss */
.sorting_desc_disabled {
  background: url("../images/sort_desc_disabled.png") no-repeat center right;
}

/* line 13, ../sass/app.scss */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* line 19, ../sass/app.scss */
body {
  font-family: 'Istok Web', Helvetica, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  width: 60%;
  background: #1a1a1a;
  color: #f9f9f9;
  margin: 0 auto;
}

/* line 28, ../sass/app.scss */
a {
  color: #37a5eb;
  text-decoration: none;
}

/* line 33, ../sass/app.scss */
header {
  *zoom: 1;
  padding: 2rem 0 1rem;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
header:before, header:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
header:after {
  clear: both;
}
/* line 37, ../sass/app.scss */
header .logo {
  width: 300px;
  float: left;
}
/* line 42, ../sass/app.scss */
header .search {
  position: relative;
  top: 30px;
  width: 290px;
  float: right;
}
/* line 49, ../sass/app.scss */
header .search input {
  color: #f9f9f9;
  font-size: 1rem;
  width: 100%;
  background: #272727;
  border: none;
  border-radius: 20px;
  padding: 0.5rem 0.9rem;
}
/* line 58, ../sass/app.scss */
header .search input:focus {
  outline: none;
}
/* line 63, ../sass/app.scss */
header .search em {
  display: block;
  color: #434343;
  font-size: 0.7rem;
  margin-top: 0.3rem;
}

/* line 71, ../sass/app.scss */
table {
  color: #1a1a1a;
  width: 100%;
  background: #f9f9f9;
  margin: 0 auto;
}
/* line 77, ../sass/app.scss */
table thead th {
  background-color: #1a1a1a !important;
  color: #4d4d4d;
}
/* line 82, ../sass/app.scss */
table th {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
/* line 87, ../sass/app.scss */
table tr td {
  border-bottom: #ececec solid 1px;
}
/* line 92, ../sass/app.scss */
table th.number {
  text-align: center;
}
/* line 96, ../sass/app.scss */
table th.law {
  text-align: left;
  padding: 0.5rem 0;
}
/* line 101, ../sass/app.scss */
table th.search {
  padding-left: 0;
}
/* line 105, ../sass/app.scss */
table tr:hover td {
  background: #8aecac;
  border-bottom-color: #8aecac;
}
/* line 109, ../sass/app.scss */
table tr:hover td.number, table tr:hover td.description a, table tr:hover td.law {
  color: #0d5024;
  text-shadow: #5ee58d 0 1px 0;
}
/* line 114, ../sass/app.scss */
table tr:hover td.number span {
  background: none;
  box-shadow: none;
}
/* line 119, ../sass/app.scss */
table tr:hover td.dataTables_empty {
  background: #f9f9f9;
}
/* line 125, ../sass/app.scss */
table td.number {
  text-align: center;
  width: 90px;
}
/* line 131, ../sass/app.scss */
table td.number span {
  display: block;
  font-size: 0.8rem;
  width: 70%;
  margin: 0 auto;
  background: #efefef;
  box-shadow: #e5e5e5 0 1px 0 inset;
  border-radius: 4px;
}
/* line 141, ../sass/app.scss */
table td.description a {
  display: block;
  padding: 1rem;
}
/* line 146, ../sass/app.scss */
table td.law {
  font-size: 0.8rem;
  padding-right: 0.7rem;
}

/* line 153, ../sass/app.scss */
.dataTables_info {
  color: #676767;
  font-size: 0.8rem;
  text-align: center;
  width: 100%;
  padding: 0.5rem 0;
}

/* line 161, ../sass/app.scss */
.dataTables_paginate {
  width: 120px;
  margin: 0 auto;
}
/* line 165, ../sass/app.scss */
.dataTables_paginate a {
  text-decoration: underline;
  cursor: pointer;
  color: #8aecac;
}

/* line 172, ../sass/app.scss */
.dataTables_length {
  width: 400px;
}

/* line 176, ../sass/app.scss */
.dataTables_filter {
  display: none;
}

/* line 180, ../sass/app.scss */
.dataTables_paginate a.paginate_enabled_next, .dataTables_paginate a.paginate_disabled_next {
  float: right;
}

/* line 184, ../sass/app.scss */
.dataTables_empty {
  padding: 1rem;
}

/* line 188, ../sass/app.scss */
.four-oh-four img {
  display: block;
  width: 300px;
  max-width: 100%;
  margin: 2rem auto;
}

/* line 195, ../sass/app.scss */
.four-oh-four h1 {
  color: #f9f9f9;
}

/* line 199, ../sass/app.scss */
.four-oh-four p {
  font-size: 1.4rem;
  color: #f9f9f9;
}

@media all and (max-width: 1009px) {
  /* line 205, ../sass/app.scss */
  body {
    width: 90%;
  }
}
@media all and (max-width: 680px) {
  /* line 211, ../sass/app.scss */
  header .logo {
    display: block;
    float: none;
    margin: 0 auto;
  }

  /* line 217, ../sass/app.scss */
  header .search {
    float: none;
    margin: 0 auto 2rem;
  }
}
